# Development By AEntrepreneur [PI-docker 2026]
# =================================================================
# Configuracion Python de privacyIDEA
# =================================================================
# Carga variables PI_ desde entorno, SQLAlchemy, Redis cache
# =================================================================
import os
import logging

# 1. Carga Dinámica de Entorno (Prefijo PI_)
pi_os_vars = {key: value for key, value in os.environ.items() if key.startswith('PI_')}
for k, v in pi_os_vars.items():
    locals()[k] = v

# 2. Cadena de Conexión a Base de Datos (Inyección DB_URI)
#SQLALCHEMY_DATABASE_URI = os.getenv('PI_DB_URI', '')

SQLALCHEMY_DATABASE_URI = os.environ['PI_DB_URI']

# 3. Rutas de Elementos Criptográficos Persistentes
PI_ENCFILE = '/opt/privacyidea/data/enckey'
PI_AUDIT_KEY_PRIVATE = '/opt/privacyidea/data/private.pem'
PI_AUDIT_KEY_PUBLIC = '/opt/privacyidea/data/public.pem'

# 4. Configuración de Logging y Nivel de Depuración
PI_LOGCONFIG = '/opt/privacyidea/etc/logging.cfg'
PI_LOGLEVEL = logging.getLevelName(os.getenv("PI_LOG_LEVEL", "INFO").upper())

# 5. Parámetros de Sesión Web y Caché Redis
SECRET_KEY = os.environ['PI_SECRET_KEY']
PI_PEPPER = os.environ['PI_PEPPER']
PI_CACHE_URL = os.getenv('REDIS_URI', f'redis://:{os.getenv("REDIS_PASSWORD", "")}@redis:6379/0')

# 6. Optimización de Pool SQL (Prevención de Desconexiones)
PI_SQLALCHEMY_ENGINE_OPTIONS = {"pool_pre_ping": True, "pool_recycle": 3600}

# 7. Cache de Políticas y Configuración (evita consultas a DB en cada request)
PI_CHECK_RELOAD_CONFIG = int(os.getenv('PI_CHECK_RELOAD_CONFIG', '0'))

#End Development By AEntrepreneur [PI-docker 2026]
